aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.2.0
botocore==1.35.72
build==1.2.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.11
click==8.1.7
coloredlogs==15.0.1
contourpy==1.2.0
cycler==0.12.1
Deprecated==1.2.14
durationpy==0.7
easyocr==1.7.2
exceptiongroup==1.2.0
fastapi==0.115.0
filelock==3.16.1
filterpy==1.4.5
flatbuffers==24.3.25
fonttools==4.45.0
frozenlist==1.4.0
fsspec==2024.9.0
git-remote-codecommit==1.17
google-auth==2.22.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.65.0
graphlearning==1.7.0
grpcio==1.66.2
gspread==5.10.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
idna==3.4
imageio==2.36.0
importlib_metadata==8.4.0
importlib_resources==6.4.5
imutils==0.5.4
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
kubernetes==31.0.0
lazy_loader==0.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.2
mdurl==0.1.2
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
networkx==3.3
ninja==1.11.1.4
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.19.2
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.7
overrides==7.7.0
packaging==23.2
pandas==2.2.3
Pillow==10.1.0
posthog==3.6.6
protobuf==4.25.5
psutil==7.0.0
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post6
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.1.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyTelegramBotAPI==4.12.0
python-bidi==0.6.6
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2025.2
PyWavelets==1.7.0
PyYAML==6.0.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.8.1
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
shapely==2.1.0
shellingham==1.5.4
six==1.16.0
slack-sdk==3.21.3
slackclient==2.9.4
sniffio==1.3.1
starlette==0.38.6
sympy==1.14.0
telebot==0.0.5
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tkinterdnd2==0.4.3
tokenizers==0.20.0
torch==2.7.0
torchvision==0.22.0
tqdm==4.66.5
typer==0.12.5
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2025.2
ultralytics==8.3.125
ultralytics-thop==2.0.14
urllib3==1.26.16
uvicorn==0.31.0
uvloop==0.20.0
watchfiles==0.24.0
websocket-client==1.8.0
websockets==13.1
wrapt==1.16.0
yarl==1.9.2
zipp==3.20.2
psycopg2-binary>=2.9.9
